<div style="float:left; width: 300px; min-height: 500px; margin-left: 20px">
  <div class="board-img">
    <img src="{{ '/assets/img/people/schneider.jpg' | relative_url }}">
  </div>
  <h4>
    PD Dr. Roman Schneider (Sprecher)
  </h4>
  <p>Leibniz-Institut für Deutsche Sprache</p>
  
</div>

<div style="float:left; width: 300px; min-height: 500px; margin-left: 20px">
  <div class="board-img">
    <img src="{{ '/assets/img/people/mahlow.jpg' | relative_url }}">
  </div>
  <h4>
    Prof. Dr. Cerstin Mahlow
  </h4>
  <p>Zürcher Hochschule für Angewandte Wissenschaften (ZHAW)</p>
  
</div>

<div style="float:left; width: 300px; min-height: 500px; margin-left: 20px">
  <div class="board-img">
    <img src="{{ '/assets/img/people/rehbein.jpg' | relative_url }}">
  </div>
  <h4>
    Dr. Ines Rehbein
  </h4>
  <p>Universität Mannheim</p>

  
</div>

<div style="float:left; width: 300px; min-height: 500px; margin-left: 20px">
  
  <div class="board-img">
    <img src="{{ '/assets/img/people/schroeder.jpg' | relative_url }}">
  </div>
  <h4>
    Prof. Dr. Bernhard Schroeder
  </h4>
  <p>Universität Duisburg-Essen</p>

</div>

<div style="float:left; width: 300px; min-height: 500px; margin-left: 20px">

  <div class="board-img">
    <img src="{{ '/assets/img/people/zinsmeister.jpg' | relative_url }}">
  </div>
  <h4>
    Prof. Dr. Heike Zinsmeister
  </h4>
  <p>Universität Hamburg</p>
</div>

<div style="float:left; width: 300px; min-height: 500px; margin-left: 20px">
  <div class="board-img">
    <img src="{{ '/assets/img/people/erbs-1408x.jpg' | relative_url }}">
  </div>
  <h4>
    Dr. Nicolai Erbs
  </h4>
  <p>DB Fernverkehr</p>

</div>

<div style="clear:both;"></div>
