<div class="talks">
    {% for post in site.posts%}
    {% if post.gscltalk %}
      <div class="talk-teaser">
      {% if post.speakerimageteaser %}
        <div class="talk-img">
            <a aria-label="{{ post.title }}" href="{{ post.url | relative_url }}">
                <img alt="{{ post.title }}" src="{{ post.speakerimageteaser | relative_url }}">
            </a>
        </div>
        {% endif %}
        <span>
          <header>
            <h2>
              <a aria-label="{{ post.title }}" class="talk-link" href="{{ post.url | relative_url }}">
                {{ post.title }}
              </a>
            </h2>
            <h3>{{ post.speaker }} ({{ post.organization }})</h3>
            {% include blog/post_info.html author=post.author date=post.date time=post.time%}
           
          </header>
          {% if site.excerpt or site.theme_settings.excerpt %}
              <div class="excerpt">
                  {% if site.excerpt == "truncate" %}
                     {{ post.content | strip_html | truncate: '250' | escape }}
                  {% else %}
                     {{ post.excerpt | strip_html | escape }}
                  {% endif %}
              </div>
          {% endif %}
      </span>
    </div>
    {% endif %}
    {% endfor %}
</div>
