---
layout: default
---

{% comment %}Multilingual header text (if `multilingual: true` in `_config.yml`){% endcomment %}
{% if site.multilingual %}
    {% assign site_header_title = site.header_title[site.active_lang] %}
    {% assign site_header_text = site.header_text[site.active_lang] %}
{% else %}
    {% assign site_header_title = site.header_title %}
    {% assign site_header_text = site.header_text %}
{% endif %}
    
<div class="home">

    <div id="main" class="call-out"
         style="background-image: url('{{ site.header_feature_image | relative_url }}')">
        <h1> {{ site_header_title | default: "Header Title"}} </h1>
        <p>{{ site_header_text | default: "Header Text"}} </p>
    </div>


    <div style="float:left; width: 80%; margin-left: 10%">
        {% include blog/blog.html %}
    </div>


    <div style="margin-left: 20px; margin-right: 20px;  margin-top: 50px; text-align: center;">
        {% twitter https://twitter.com/gscl_org maxwidth=1200 limit=3 %}
     </div>

            
</div>
